* {
		font-family: 'Open Sans', sans-serif;
}
#agelegenddiv  {
	display: none;
}

#votinglegenddiv {
	display: none;
}

#genderlegenddiv {
	display: none;
}

#neighbourhoodlegenddiv {
	display: none;
}

#marriagelegenddiv {
	display: none;
}


.albertacount-text-block{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	width: 100%;
	float: left;
	margin: 0 auto;
}
.albertacount-text-block p{
	color: #3f4245 !important;
	width: 75% !important;
	margin: 0 auto !important;
	float: none !important;
}

.albertacount-breakdown-wrapper{
	width: 75%;
	margin: 30px auto 0 auto;
}
.albertacount-30k-people{
	width: 562px;
	float: left;
	top: 5px;
	position: relative;
}
.albertacount-graphic-legend{
	float: left;
	padding-left: 10px;
}
.albertacount-graphic-legend-mobile{
	display: none;
}
.albertacount-graphic-legend-item{
	border-left: 2px solid #666;
	width: 20px;
	overflow:visible;
	position: relative;
	opacity: 0;
}
.albertacount-graphic-legend-item-text{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	width: 200px;
	position: relative;
	margin-left: 10px;
	top: 39%;
	color:#3f4245;
}
.alberta-person-square{
	background-color: #C2C2C2;
	width: 12px;
	display: inline-block;
	float:right;
	height: 12px;
	margin: 0 1px 1px 0;
}

.ajmint-icon-for-legend.alberta-person-square{
	background-color: #666;
	display: inline-block;
	float: none;
}

#squareboxes .cond1,
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond1"]{
  -webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}
#squareboxes .cond2,
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond2"]{
  -webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}
#squareboxes .cond3,
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond3"]{
  -webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
	-moz-transition-delay: .5s;
	-o-transition-delay: .5s;
	transition-delay: .5s;
}
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond1"],
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond2"],
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond3"]{
	opacity: 1;
}


/* COLORS TO CHANGE */
/* Eligible poeple */


#squareboxes.active .cond1{
	color:white;
	background-color: #2980b9;
}
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond1"]{
	border-color: #2980b9;
}

/* Ineligible poeple */
#squareboxes.active .cond2{
	color:white;
	background-color: #27ae60;
}
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond2"]{
	border-color: #27ae60;
}

/* Remaining poeple */
#squareboxes.active .cond3{
	color:white;
	background-color: #c0392b;
}
#squareboxes.active .albertacount-graphic-legend-item[data-legend-item="cond3"]{
	border-color: #c0392b;
}


#squareboxes.active .zerotofouryears{
color:white;
background-color:#1f77b4;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .fivetonineyears{
color:white;
background-color:#aec7e8;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .tentofourteenyears{
color:white;
background-color:#ff7f0e;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .fifteentonineteenyears{
color:white;
background-color:#ffbb78;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .twentytotwentyfouryears{
color:white;
background-color:#2ca02c;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .twentyfivetotwentynineyears{
color:white;
background-color:#98df8a;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .thritytothirtyfouryears{
color:white;
background-color:#d62728;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .thirtyfivetothirtynineyears{
color:white;
background-color:#ff9896;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .fortytofortyfouryears{
color:white;
background-color:#9467bd;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .fortyfivetofortynineyears{
color:white;
background-color:#c5b0d5;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .fiftytofiftyfouryears{
color:white;
background-color:#8c564b;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .fiftyfivetofiftynineyears{
color:white;
background-color:#c49c94;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .sixtytosixtyfouryears{
color:white;
background-color:#e377c2;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .sixtyfivetosixtynineyears{
color:white;
background-color:#f7b6d2;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .seventytoseventyfouryears{
color:white;
background-color:#7f7f7f;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .seventyfivetoseventynineyears{
color:white;
background-color:#c7c7c7;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .eightytoeightyfouryears{
color:white;
background-color:#bcbd22;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .eightyfiveyearsandover{
color:white;
background-color:#dbdb8d;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}


/* SET STYLERS FOR SELECTIONS HERE */



#squareboxes.active .doniveson{
color:white;
background-color:#1f77b4;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .karenleibovivi{
color:white;
background-color:#aec7e8;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .kerrydiotte{
color:white;
background-color:#ff7f0e;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .joshsemotiuk{
color:white;
background-color:#ffbb78;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .gordonward{
color:white;
background-color:#2ca02c;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .kristineacielo{
color:white;
background-color:#98df8a;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .undervotes{
color:white;
background-color:#d62728;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .didntvote{
color:white;
background-color:#ff9896;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}



#squareboxes.active .married{
color:white;
background-color:#1f77b4;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .commonlaw{
color:white;
background-color:#aec7e8;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .separatedordivorced{
color:white;
background-color:#ff7f0e;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .nevermarried{
color:white;
background-color:#ffbb78;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .widowed{
color:white;
background-color:#2ca02c;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .noresponsem{
color:white;
background-color:#98df8a;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}




@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1.7); }
	30% { -webkit-transform: scale(1.6); }
	40% { -webkit-transform: scale(1.5); }
	50% { -webkit-transform: scale(1.4); }
	60% { -webkit-transform: scale(1.3); }
	70% { -webkit-transform: scale(1.2); }
	80% { -webkit-transform: scale(1.1); }
	100% { -webkit-transform: scale(1); }
}

@-webkit-keyframes spin_animation {
	0% { -webkit-transform: rotateX(0deg); }
	0% { -webkit-transform: rotateX(18deg); }
	0% { -webkit-transform: rotateX(38deg); }
	30% { -webkit-transform: rotateX(54deg); }
	40% { -webkit-transform: rotateX(72deg); }
	50% { -webkit-transform: rotateX(90deg); }
	60% { -webkit-transform: rotateX(108deg); }
	70% { -webkit-transform: rotateX(126deg); }
	80% { -webkit-transform: rotateX(144deg); }
	0% { -webkit-transform: rotateX(162deg); }
	100% { -webkit-transform: rotateX(180deg); }
}

#squareboxes.active .female{
color:white;
background-color:#1f77b4;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .male{
color:white;
background-color:#aec7e8;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .noresponse{
color:white;
background-color:#ff7f0e;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}




#squareboxes.active .oliver{
color:white;
background-color:#1f77b4;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .downtown{
color:white;
background-color:#aec7e8;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .garneau{
color:white;
background-color:#ff7f0e;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .strathcona{
color:white;
background-color:#ffbb78;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .wildhorse{
color:white;
background-color:#2ca02c;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .boylestreet{
color:white;
background-color:#98df8a;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}

#squareboxes.active .otherneighbhourhoods{
color:white;
background-color:#d62728;
  -webkit-transition: all .5s ease-in;
-moz-transition: all .5s ease-in;
-o-transition: all .5s ease-in;
transition: all .5s ease-in;
  -webkit-transition-delay: .5s;
-moz-transition-delay: .5s;
-o-transition-delay: .5s;
transition-delay: .5s;
}



.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

